<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <!--this is where the form was-->
        <% if(user){%>
          <form id="logout-form" action="/logout" method="post">
              <input type="hidden" name="username">
              <input id="logout-button" class="styled-button" type="submit" value="Logout"><%= user.email %>
          </form>
          <% } else{ %>
            <form action="/login" method="POST">
              Login: <input name="username" type="text"> <input class="btn btn-primary" input type="submit">
            </form>

         <% } %>

      </div>
    </div>
  </nav>
</header>
